@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Glass+Antiqua&family=IM+Fell+Great+Primer+SC&family=Inria+Sans:wght@300&family=Jockey+One&family=Kadwa&family=League+Spartan:wght@200&family=Oswald&family=Righteous&family=Sawarabi+Gothic&family=Secular+One&display=swap');

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3rem;
    color: rgb(22, 22, 44);
}
.nav-link{
    margin-top: 0.3rem;
    color: rgb(22, 22, 44);
}
.styles_referralButton__1pBrF {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: #a7eaff;
    color: #187584;
    text-align: center;
    text-decoration: none;
}
.styles_referralButton__1pBrF:hover {
    background-color: #c8eeff;
    color: #187584;
}
.barra2{
    float: left;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: -0.05rem;
}
._15uGWh{
    margin-left: 36rem;
}
.inicio{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 31rem;
}
.image{
    float: left;
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
    margin-left: 15rem;
}
#principalText{
    float: left;
    width: 30rem;
    height: 10rem;
    margin-top: 5.5rem;
    margin-left: 2rem;
}
#thomasS{
    float: left;
    margin-left: 0rem;
}
#nativeGerman{
    float: left;
    margin-top: 2rem;
    margin-left: -5.7rem;
}
#description1{
    float: left;
    margin-top: 5rem;
    margin-left: -19rem;
}
#description2{
    float: left;
    margin-top: 6.5rem;
    margin-left: -19rem;
}
#description3{
    float: left;
    margin-top: 8rem;
    margin-left: -21.7rem;
}
.divSuperTutor{
    background-color: white;
    float: left;
    width: 45rem;
    height: 3.7rem;
    margin-top: 17rem;
    margin-left: -42rem;
}
#superTutor{
    float: left;
    margin-left: 2.5rem;
    margin-top: -0.7rem;
}
#textSuperTutor{
    float: left;
    margin-left: -5.3rem;
    margin-top: 0.7rem;
}
#divComentarioDestaque{
    float: left;
    width: 45rem;
    height: 3.7rem;
    margin-top: 22.5rem;
    margin-left: -46rem;
}
#recentReview{
    float: right;
}
#evrim{
    float: left;
    margin-left: 1rem;
}
#evrimImage{
    float: left;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
}
#comentarioDestaque{
    float: left;
    margin-top: 0rem;
    margin-left: 5rem;
}
#allReviews{
    float: left;
    margin-left: 5rem;
    margin-top: 0.5rem;
}
#segunda{
    background-color: rgb(222, 222, 222);
    width: 100%;
    height: 190rem;
}
#navegacaoSegunda{
    margin-top: 1rem;
    margin-left: 17rem;
}
.textsNavegacaoSegunda{
    margin-left: 1.5rem;
}
#aboutTutor{
    width: 45rem;
    height: 14rem;
    margin-top: 5rem;
    margin-left: -27rem;
}
.textAboutTutor{
    margin-top: 0.5rem;
}
#textAlthough{
    margin-top: 1rem;
}
#comentarios{
    width: 45rem;
    height: 80rem;
    margin-top: 20rem;
    margin-left: -45rem;
}
.whatStudents{
    margin-top: 1rem;
    margin-left: 1rem;
}
#imgAvaliacao{
    width: 43rem;
}
.divSeparacaoComentarios{
    width: 40rem;
    height: 0.05rem;
    margin: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.comentImage{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 2rem;
}
.textoComentario{
    margin-top: -2rem;
    margin-left: 7.5rem;
    margin-top: -1.5rem;
}
.nomeComentador{
    margin-left: 1rem;
}
.avaliacaoComentador{
    margin-top: 1.2rem;
    margin-left: -4.9rem;
}
.btnMoreReviews{
    background-color: #1691a4;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    width: 40rem;
}
.btnMoreReviews:hover{
    background-color:  #1ea3b8;
}
.divResume{
    width: 45rem;
    height: 15rem;
    margin-top: 101rem;
    margin-left: -45rem;
}
.divTextsResume{
    margin-left: 4rem;
}
.textsResume{
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.textsContentResume{
    margin-top: 1rem;
    margin-left: 4.35rem;
}
.textsContentResume2{
    margin-top: 2.5rem;
    margin-left: -10.67rem;
}
.textsContentResume3{
    margin-top: 4rem;
    margin-left: -13.2rem;
}
.divSubjects{
    width: 45rem;
    height: 48rem;
    margin-top: 117rem;
    margin-left: -45rem;
}
.tituleResume{
    margin-left: 1rem;
}
.divYouMight{
    margin-top: 168rem;
    margin-left: -42rem;
}
.imgMiniCard{
    width: 9rem;
    height: 9rem;
    margin-top: 4rem;
    margin-left: -9rem;
}
.textImgMiniCard{
    margin-top: 10.7rem;
    margin-left: -8rem;
}
.textImgMiniCard2{
    margin-top: 13.5rem;
    margin-left: -8.7rem;
}
.divTextMiniCard2{
    background-color: #c8eeff;
    width: 4rem;
    height: 11rem;
    margin-top: 4rem;
    margin-left: -9rem;
}
.continuacao{
    margin-top: -9rem;
    margin-left: 28.5rem;
    width: 3rem;
    height: 3rem;
}
.textFindTutors{
    margin-left: -8.5rem;
}
.terceira{
    background-color: rgb(78, 78, 87);
    width: 100%;
    height: 80rem;
}