@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Glass+Antiqua&family=IM+Fell+Great+Primer+SC&family=Inria+Sans:wght@300&family=Jockey+One&family=Kadwa&family=League+Spartan:wght@200&family=Oswald&family=Righteous&family=Sawarabi+Gothic&family=Secular+One&display=swap');
.navbar {
	padding: 0;
}

.navbar-brand {
	padding: 0;
	font-size: 2rem;
	font-weight: bold;
	color: #333;

}
.navbar-toggler {
	border: none;
}

.navbar-nav {
	margin-right: 0;
}

.nav-link {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	font-weight: bold
}